# ╔══════════════════════════════╗
# ║   NEKOSBOT GACHA - ENV vars  ║
# ╚══════════════════════════════╝

# Owner del bot (número con @c.us)
OWNER=50578391933@c.us

# API Keys para descargas
API_YT=lem916
API_TT=lem916
